.soa {
  margin: 3em 6%;
}

.soa-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
}

.soa-wrapper form {
    margin-right: 20vw;
}

.soa-articles {
    margin-right: 20vw;
}

.soa-articles article{
    background-color: #1c5e8c;
    border-radius: 20px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: larger;
    margin: 5vh 0 5vh 0;
}

.soa-articles h3 {
    margin: 0 5vh 0 5vh;
    text-align: center;
}


